<?php include 'header-link.php';?>
<?php include 'header.php';?>
<div class="layout-main">
<?php include 'sidebar.php';?>
<div class="dashboardPage"></div>
<div class="layout-content dashboard-view-page">
     <div class="layout-content-body">
      <div class="row margin-bottom-15">
          <div class="sidebar-chat-info col-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-primary btn-sm btn-labeled" type="button" data-toggle="modal" data-target="">
                  <span class="btn-label">
                    <span class="icon fa fa-chevron-left icon-fw icon-lg f-16"></span>
                  </span>Back
              </button>
            </div>
      </div>  
      
          <div class="card"> 
              <div class="card-body dashboard-view-box">
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                
                    <a href="dashboard-propertyname.php">
                    <div class="row gutter-xs"> 
                        <div class="col-sm-3">
                          <div class="dashboard-view-image">
                            <img src="assets/img/7943544458.jpg">
                          </div>
                        </div> 
                        <div class="col-sm-9">
                        <h5 class="media-heading">Property Name</h5>
                        <h5 class="media-heading dashboard-content">Property Loacation: Lorem Ipsum  <i class="fa fa-map-marker" aria-hidden="true"></i></h5>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        </div> 
                    </div></a>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                
                    <a href="dashboard-propertyname.php">
                    <div class="row gutter-xs"> 
                        <div class="col-sm-3">
                          <div class="dashboard-view-image">
                            <img src="assets/img/7943544458.jpg">
                          </div>
                        </div> 
                        <div class="col-sm-9">
                        <h5 class="media-heading">Property Name</h5>
                        <h5 class="media-heading dashboard-content">Property Loacation: Lorem Ipsum  <i class="fa fa-map-marker" aria-hidden="true"></i></h5>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        </div> 
                    </div></a>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                
                    <a href="dashboard-propertyname.php">
                    <div class="row gutter-xs"> 
                        <div class="col-sm-3">
                          <div class="dashboard-view-image">
                            <img src="assets/img/7943544458.jpg">
                          </div>
                        </div> 
                        <div class="col-sm-9">
                        <h5 class="media-heading">Property Name</h5>
                        <h5 class="media-heading dashboard-content">Property Loacation: Lorem Ipsum  <i class="fa fa-map-marker" aria-hidden="true"></i></h5>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        </div> 
                    </div></a>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                
                    <a href="dashboard-propertyname.php">
                    <div class="row gutter-xs"> 
                        <div class="col-sm-3">
                          <div class="dashboard-view-image">
                            <img src="assets/img/7943544458.jpg">
                          </div>
                        </div> 
                        <div class="col-sm-9">
                        <h5 class="media-heading">Property Name</h5>
                        <h5 class="media-heading dashboard-content">Property Loacation: Lorem Ipsum  <i class="fa fa-map-marker" aria-hidden="true"></i></h5>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        </div> 
                    </div></a>
                </div> 
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<?php include 'footer.php';?>
<?php include 'footer-link.php';?>