<?php include 'header-link.php';?>
<?php include 'header.php';?>
<div class="layout-main">
<?php include 'sidebar.php';?>
<div class="dashboardPage"></div>
<div class="layout-content dashboard-view-page">
     <div class="layout-content-body">
      <div class="row margin-bottom-15">
          <div class="sidebar-chat-info col-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-primary btn-sm btn-labeled" type="button" data-toggle="modal" data-target="">
                    <span class="btn-label">
                      <span class="icon fa fa-chevron-left icon-fw icon-lg f-16"></span>
                    </span>Back
                </button>
            </div>
      </div>  
          <div class="card"> 
              <div class="card-body dashboard-view-box">
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                    <div class="row gutter-xs"> 
                        <div class="col-sm-1">
                        <span class="bg-primary circle sq-48">
                          <span class="icon icon-user"></span>
                        </span>
                        </div> 
                        <div class="col-sm-8">
                        <h5 class="media-heading">Username</h5>
                        <p class="property-text">14 June, 2019</p>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        </div> 
                        <div class="col-sm-3">
                            <div class="dashboard-property-star text-right">
                                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                <p>4</p>
                            </div>
                        </div>
                    </div>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                        <div class="row gutter-xs"> 
                            <div class="col-sm-1">
                            <span class="bg-primary circle sq-48">
                                <span class="icon icon-user"></span>
                            </span>
                            </div> 
                            <div class="col-sm-8">
                            <h5 class="media-heading">Username</h5>
                            <p class="property-text">14 June, 2019</p>  
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            </div> 
                            <div class="col-sm-3">
                                <div class="dashboard-property-star text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                    <p>4</p>
                                </div>
                            </div>
                        </div>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                        <div class="row gutter-xs"> 
                            <div class="col-sm-1">
                            <span class="bg-primary circle sq-48">
                                <span class="icon icon-user"></span>
                            </span>
                            </div> 
                            <div class="col-sm-8">
                            <h5 class="media-heading">Username</h5>
                            <p class="property-text">14 June, 2019</p>  
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            </div> 
                            <div class="col-sm-3">
                                <div class="dashboard-property-star text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                    <p>4</p>
                                </div>
                            </div>
                        </div>
                </div> 
              </div>
              <div class="row gutter-xs height-box margin-bottom-15">
                  <div class="col-lg-12 col-md-12 full-height dashboard-view-border"> 
                        <div class="row gutter-xs"> 
                            <div class="col-sm-1">
                            <span class="bg-primary circle sq-48">
                                <span class="icon icon-user"></span>
                            </span>
                            </div> 
                            <div class="col-sm-8">
                            <h5 class="media-heading">Username</h5>
                            <p class="property-text">14 June, 2019</p>  
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            </div> 
                            <div class="col-sm-3">
                                <div class="dashboard-property-star text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                    <p>4</p>
                                </div>
                            </div>
                        </div>
                </div> 
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<?php include 'footer.php';?>
<?php include 'footer-link.php';?>