{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chess App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#004f6c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'assets/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/elephant.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/application.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/profile.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/product.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demo.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/iEdit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login-2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body class="layout layout-header-fixed">
    