{% load staticfiles %}
{% include 'base/header-link.html' %}
{% include 'base/header.html' %}
<div class="layout-main">
{% include 'base/sidebar.html' %}

    <div class="lessonPage ExplorerListPage">
        <div class="layout-content">
            <div class="layout-content-body">
                    <div class="row margin-bottom-15">
                        <div class="col-md-12">
                            <div class="title-bar">
                                <h1 class="title-bar-title">
                                    <span class="d-ib">Game Duration Management</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color:red;text-align: center; margin:0px">
                                <span>{{ error|escape }}</span>
                            </p>
                        {% endfor %}
                    {% endfor %}
    
                    {% for error in form.non_field_errors %}
                       <p style="color:red;text-align: center; margin:0px">
                            <span>{{ error|escape }}</span>
                        </p>
                    {% endfor %}
    
                  {% endif %}
                  {% if messages %}
                      {% for message in messages %}
                          <p style="color:green;text-align: center;">{{message}}</p>
                      {% endfor %}
                  {% endif %} 
                    <div class="row margin-bottom-15">
                        <div class="col-sm-12">
                            <button class="btn btn-danger btn-sm btn-labeled" type="button" data-toggle="modal" data-target="#addUser">
                                <span class="btn-label">
                                <span class="icon fa fa-edit icon-fw icon-lg f-16"></span>
                                </span>
                                Add
                            </button>
                        </div>
                    </div> 
                <div class="row gutter-xs">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                <table id="demo-datatables-5" class="table table-striped table-bordered table-nowrap dataTable" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="6%">S.No ID</th>
                                            <th>Duration ID</th>
                                            <th>Game Duration</th>
                                            <th width="20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in durs %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{d.id}}</td>
                                                <td><span id="{{d.id}}" class="p-txt">{{d.duration}}</span></td>
                                                <td>
                                                    <button id="{{d.id}}" class="btn btn-danger btn-sm btn-labeled" type="button" data-toggle="modal" data-target="#deleteUser" onclick="deletelesson(this.id)">
                                                        <span class="btn-label">
                                                        <span class="icon fa fa-trash icon-fw icon-lg f-16"></span>
                                                        </span>
                                                        Delete
                                                    </button>
                                                    <button id="{{d.id}}" class="btn btn-danger btn-sm btn-labeled" type="button" data-toggle="modal" data-target="#editUser" onclick="editduration(this.id)">
                                                        <span class="btn-label">
                                                        <span class="icon fa fa-edit icon-fw icon-lg f-16"></span>
                                                        </span>
                                                        Edit
                                                    </button>
                                                    <button class="btn btn-default btn-sm btn-labeled" type="button">
                                                        {% if d.is_active %}
                                                            <span class="btn-label">
                                                                <label class="mr-2 switch product-switch">
                                                                    <input id="{{d.id}}" type="checkbox" checked="" onchange="blockunblocklesson(this.id)">
                                                                    <span class="slider round product-slide"></span>
                                                                </label>
                                                            </span>
                                                            <label id="{{d.id}}" for="">Block</label>
                                                        {% else %}
                                                            <span class="btn-label">
                                                                <label class="mr-2 switch product-switch">
                                                                    <input id="{{d.id}}" type="checkbox" onchange="blockunblocklesson(this.id)">
                                                                    <span class="slider round product-slide"></span>
                                                                </label>
                                                            </span>
                                                            <label id="{{d.id}}" for="">Unblock</label>
                                                        {% endif %}
                                                    </button>    
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/footer-link.html' %}
    
    <div id="deleteUser" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <div class="text-center">
              <h4>Are you sure you want to Delete this Game Duration?</h4>
              <div class="m-t-lg">
                <button id="lessiondeleteconfirm" class="btn btn-red" data-dismiss="modal" type="button" data-toggle="modal" lessionid="" onclick="deleteConfirm()">Continue</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div id="addUser" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-body">
                
                 <form action="{% url 'ap_gametime:apg_add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center">
                        <b>Enter Game Duration:</b>
                        <input type="number" name="newdur" min="1" required>
                        <div class="m-t-lg">
                            <button id="dureditconfirm" class="btn btn-red" type="submit">Continue</button>
                            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
             </div>
           </div>
         </div>
       </div>

    <div id="editUser" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-body">

                <form action="{% url 'ap_gametime:apg_edit' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center">
                        <input type="hidden" name="durid" id="durid" value="">
                        <b>Enter Game Duration:</b>
                        <input type="number" name="newdur" id="tempdur" min="1" required>
                        <div class="m-t-lg">
                        <button id="dureditconfirm" class="btn btn-red" type="submit">Continue</button>
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
             </div>
           </div>
         </div>
       </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-sm" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
            <div class="successful-icon text-center">
            <i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 22px;color: #17b517;"></i>
            </div>
                <h4 class="text-center">Delete Successfully</h4>
            </div>
        </div>
    </div>
</div>

    <!-- Modal END-->
<script>
    function deletelesson(clicked_id){
        document.getElementById('lessiondeleteconfirm').setAttribute('lessionid',clicked_id);
    }
    function deleteConfirm(){
        var pk = document.getElementById('lessiondeleteconfirm').getAttribute('lessionid');
        $.ajax({

            type:"POST",
            url: "/game/delete_game_duration/"+pk,
            headers: { "X-CSRFToken":getCookie("csrftoken") },

            success: function( data ){
                swal("", "Deleted Successfully", "success").then(function(){
                    location.reload();
                });
                    // alert(data.message)
                    // window.location.reload();
            },

            statusCode: {
                404: function(response) {
                    console.log('ajax.statusCode: 404');
                    alert('404')
                },
                500: function(response) {
                    alert('500')
                },
                400: function(response) {
                    alert('400')
                },
            }
        })
    }
    function blockunblocklesson(clicked_id){
        $.ajax({
            type:"POST",
            url: "/game/block_unblock_game_duration/"+clicked_id,
            headers: {"X-CSRFToken":getCookie("csrftoken")},
            success: function(data){
                tags = document.getElementsByTagName("label")
                for(var i=0;i<tags.length;i++){
                    if(tags[i].id==clicked_id){
                        if(tags[i].innerHTML==="Block"){
                            tags[i].innerHTML="Unblock"
                        }
                        else{
                            tags[i].innerHTML="Block"
                        }
                    }
                }
                swal("","Updated Successfully","success").then(function(){
                    
                });
            },
            statusCode: {
                404: function(response) {
                    console.log('ajax.statusCode: 404');
                    alert('404')
                },
                500: function(response) {
                    alert('500')
                },
                400: function(response) {
                    alert('400')
                },
            }
        })
    };
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
<script>
    
    function editduration(clicked_id){
        var dur = document.getElementById(clicked_id).innerHTML
        document.getElementById('tempdur').setAttribute('value',dur)
        document.getElementById('durid').setAttribute('value',clicked_id)
    }
    // function editConfirm(){
    //     var durid = document.getElementById('dureditconfirm').getAttribute('durid')
    //     var dur = document.getElementById('tempdur')
    //     console.log(dur)
    //     $.ajax({

    //         type:"POST",
    //         url: "/game/edit_game_duration/"+durid+"/"+dur,
    //         headers: { "X-CSRFToken":getCookie("csrftoken") },

    //         success: function( data ){
    //             swal("", "Updated Successfully", "success").then(function(){
    //                 location.reload();
    //             });
    //                 // alert(data.message)
    //                 // window.location.reload();
    //         },

    //         statusCode: {
    //             404: function(response) {
    //                 console.log('ajax.statusCode: 404');
    //                 alert('404')
    //             },
    //             500: function(response) {
    //                 alert('500')
    //             },
    //             400: function(response) {
    //                 alert('400')
    //             },
    //         }
    //     })
    // }
</script>
<script>        
    function showImportSubmit() {
        document.getElementById("importSubmit").style.display = "inline-block";    
    }
</script>

    