{% load staticfiles %}
{% include 'base/header-link.html' %}
{% include 'base/header.html' %}

<div class="layout-main">
{% include 'base/sidebar.html' %}

<div class="profilePage"></div>
<div class="layout-content">
    <div class="layout-content-body">
        <div class="title-bar">

            <h1 class="title-bar-title">
              <span class="d-ib">Change Password /</span>
              <a href="{% url 'ap_accounts:aprofile' %}">Back</a>
            </h1>
        </div>

        <div class="col-md-6 card panel-body" style="box-shadow: 0px 0px 8px #ccc;">
            <div class="demo-form-wrapper">
                <!--  class="form form-horizontal"   action="{% url 'ap_accounts:a_change_password' %}"-->
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token%}
                    <div class="form-group">
                        <label for="" class=" control-label">Old Password</label>
                        <input id="" name='oldpassword' class="form-control" type="password" required>
                    </div>
                    <div class="form-group">
                        <label for="" class=" control-label">New Password</label>
                        <input id="" name="password" class="form-control" type="password" required>
                    </div>
                    <div class="form-group">
                        <label for="" class=" control-label">Confirm Password</label>
                        <input id="" name="confpassword" class="form-control" type="password" required>
                    </div>
                  
                    <div class="form-group">
                        <button class="btn btn-primary btn-block " type="submit">Submit</button>
                    </div>
                </form>
            </div>
            {% if form.errors %}
                <br>
                <p style="color:red; margin-left: 150px">{{ form.non_field_errors.as_text |cut:"* "}}</p>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <p style="color:green;text-align: center;">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% include 'base/footer.html' %}
{% include 'base/footer-link.html' %}