{% load staticfiles %}
{% include 'base/header-link.html' %}
{% include 'base/header.html' %}
<div class="layout-main">
{% include 'base/sidebar.html' %}

    <div class="articlePage ExplorerListPage">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-bar">
                            <h1 class="title-bar-title">
                                <span class="d-ib">View Management - Video Category</span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-select">
                            <a class="btn btn-default" href="{% url 'ap_videos:ap_vid_edit_video' vid.id %}">Edit</a>
                            <a href="{% url 'ap_videos:ap_vid_videos' %}" class="btn btn-danger">Back</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card margin-top-5">
                            <div class="card-body">
                                <form>
                                    <div class="row margin-bottom-15" style="word-wrap: break-word;">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label>Video Name:</label>
                                                <p>{{vid.name}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Category Name</label>
                                                {% if vid.category.name == '~' %}
                                                    <p>No Category</p>
                                                {% else %}
                                                    <p>{{vid.category.name}}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Video</label>
                                                <p>
                                                    {% if vid.vfileurl %}
                                                        <iframe width="290" height="" class="video-box" controls="" src="{{vid.vfileurl}}"></iframe>
                                                    {% else %}
                                                        <iframe width="290" height="" class="video-box" controls="" src="{% static 'assets/media/sample.mp4' %}%"></iframe>
                                                    {% endif %}
                                                </p>
                                            </div> 
                                        </div>
                                        <div class="col-md-3">
                                            <div class="img-box article-img"></div>
                                                <label>Author's Image</label>
                                                <div class="img">
                                                    {% if vid.authorpicurl %}
                                                        <img class="imagefile" style="width:130px;height:150px;"  src="{{vid.authorpicurl}}"/>
                                                    {% else %}
                                                        <img class="imagefile" style="width:130px;height:150px;"  src="{% static 'assets/img/science.jpg' %}"/>
                                                    {% endif %}
                                                </div>
                                            </div> 
                                        </div>
                                    <div class="row margin-bottom-15">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Author's Name</label>
                                                <p>{{vid.authorname}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Author's Country</label>
                                                <p>{{vid.authorcountry}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Main Video Description</label>
                                                <p>{{vid.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'base/footer-link.html' %}
{% include 'base/footer.html' %}

    <!-- Modal -->
<div class="modal fade" id="addConfirm">
    <div class="modal-dialog modal-sm" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
            <div class="successful-icon text-center">
            <i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 22px;color: #17b517;"></i>
            </div>
                <h4 class="text-center">Subscription Added Successfully</h4>
            </div>
        </div>
    </div>
</div>

    <!-- Modal END-->


    